@charset "utf-8";

ul{padding:0px;margin:0px;}
ol{padding:0px;margin:0px;}

body {
 	margin:0px;
 	padding:10px;
	border:0px;
	overflow:hidden; 
}

.Block {
	height: 350px;
	width: 420px;	
}

.Block .Left{
	float:left;
}
.Block .Rigth{ 
	width: 69%;
	float:right;
	background-color: #F0F0F0;
	height: 350px;
	border: 1px solid #5187E1;
	overflow:auto;
	BORDER-RIGHT: #216dad 1px solid;
	BORDER-TOP: #216dad 1px solid;
	SCROLLBAR-FACE-COLOR: #ffffff; 
	FONT-SIZE: 12px;
	SCROLLBAR-HIGHLIGHT-COLOR: #216dad;
	BORDER-LEFT: #216dad 1px solid; 
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	COLOR: #216dad; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	LINE-HEIGHT: 20px; 
	SCROLLBAR-ARROW-COLOR: #216dad;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #216dad; 
	SCROLLBAR-BASE-COLOR: #ffffff;
}
.Block .Rigth p {
	font-family: "Comic Sans MS", cursive;
	font-size: 12px;
	color: #000;
}
.Block .Rigth li {
	color: #333;
	font-family: "Comic Sans MS", cursive;
	font-size: 12px;
	margin-bottom: 8px;
	margin-left: 27px;
	list-style-position: outside;
}
